$dkViolet: #592f56;
$dkVioletOpacity: rgba(89, 47, 86, 0.7);
$peach: #d9756c;
$softPink: #a6687f;
$peachOpacity: #d9756c9f;
$softYellow: #f2d6a2;
$softGray: rgb(120, 120, 120);
$uSoftGray: #a8a8a8;
$ultraLigthGray: rgb(238, 238, 238);
$dkGray: rgb(57, 57, 57);
$lgYellow: #f2b999;