$violet: (
    "dark":#592f56,
    "opacity": rgba(89, 47, 86, 0.7),

);

$peach: (
    "normal": #d9756c,
    "opacity": rgba(217, 117, 108,0.7), 
);

$yellow: (
    "soft": #f2d6a2,
    "light": #f2b999,
    "midiumDark" : #eda075,
    "opacity": rgba(232, 169, 133, 0.8),
);

$pink: (
    "soft": #a6687f, 
    "opacity": rgba(166, 104, 127,0.7)
);

$gray: (
    "soft": rgb(120, 120, 120),
    "ligth": #a8a8a8,
    "ultraLigth": rgb(245, 245, 245),
    "dark": rgb(57, 57, 57),
);


