// BOX-SERVICES
.services-search {
  width: 85%;
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box__service {
  @include padMar(10px,15px);
  width: 25%;
  background-color: none;
  display: inline-block;

  &:hover{
    outline: 3px inset map-get($violet , opacity );
  }
}

