// BOX-SERVICES
.services-index {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.services-expand{
  width: 70%;
  margin: auto;
}
.service-item{
   scroll-margin-top: 150px;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box__service {
  @include padMar(10px,15px);
  width: 25%;
  color: black;
  z-index: 0;
  overflow: hidden;
  
  &:hover{
    p {
      transition: all 0.3s ease-out;
      color: white;
    }
    h4 {
      transition: all 0.3s ease-out;
      color: white;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -32px;
    right: -32px;
    background: map-get($violet, opacity );
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.6s ease-out;
  }

  &:hover:before {
    transform: scale(30);
  }
}
