// BOX-SERVICES
.services-index {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.services-expand{
  width: 70%;
  margin: auto;
}
.service-item{
   scroll-margin-top: 150px;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box__service {
  @include padMar(10px,15px);
  width: 25%;
  color: black;
  
  &:hover{
    outline: 3px inset map-get($violet , opacity );
    color: map-get($violet , dark );
  }
}

