// HEADER

header{
  @include size(100%,105px);
  display: flex;
  position: fixed; 
  top: 0;
  background-color: map-get($violet, opacity ) ;
  z-index: 1000;
  
  .header__img {
    border: 15px solid white;
    border-radius: 50%;
    height: 10pc;
    margin: 0px 50px;
  }
}

.h-Peach{
  background-color: map-get($peach, opacity);
}

.h-Pink{
  background-color: map-get($pink , opacity);
}

.h-Yellow{
  background-color: map-get($yellow, opacity );
}