//NAVBAR

.navbar{
  align-self: center;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0px;
 
}
.nav-bottom{

  a{
    display: block;
    position: relative;
    padding: 20px;
    color: map-get($gray, ultraLigth );
    font-size: 16px;
    text-align: center;
    margin-right: 30px;
  }

  ul li a::before{
    content: "";
    position: absolute;
    height: 5px;
    bottom: 5px;
    left: 0;
    background-color: white;
    visibility:visible;
    width: 0px;
    transition: all 0.3s ease-in-out;
  }

    a:hover::before,
    li:hover > a::before,
    .active > a::before{
      visibility: visible;
      width: 100%;
      text-align: center;
    }
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link{
  &:focus,&:hover{
    color: map-get($yellow , soft );
  }
}


.navbar-nav .nav-link.active{
  color: white;
  font-weight:600;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid{
  height: 100%;
}

.navbar-toggler{
  height: 100%;
  border:none;
  color: white;

  &:focus {
    border: none;
    box-shadow:none;
  }
  
}

.navbar-brand{
  z-index: 100;
}