// TIPS 

.cv {
  @include padMar(20px,30px auto);
  font-size: 30px;
  height: 350px;
  display: flex;
  justify-self: center;
  background-color: map-get($violet,dark);
  background-image: url(../assets/image/cv-image.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: end;
  background-position-y: bottom;
}

.cv-text {
  text-align: left;
  font-size: 40px;
  color: whitesmoke;
  align-self: center;
  margin-right: 8%;
  font-weight: bold;
}
