// CONTACT

.contact-form {  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "social-media form";
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 15px 4px map-get($gray , ultraLigth );
}

.social-media { 
  grid-area: social-media; 
  background-color: map-get($peach , normal );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    --bs-text-opacity: 1;
    color: black;
  }

  .sm-item{
    display: block;
  }

}

.form { 
  
  grid-area: form;
  margin: 20px;
  width: 80%;
  justify-self: center;
  
  input {
    @include size(90%,40px);
    display: block;
    margin: auto;
    background-color: #fbfbfb;
    border-radius: 5px ;
    margin-top: 20px;
    border: 1px solid map-get($peach, opacity);
    padding-left: 10px;

    &:focus-visible {
      outline: 2px solid map-get($peach , normal );    }
    &::-webkit-input-placeholder {
      color: map-get($gray , soft );
    }
  }
  
  textarea {
    display: block;
    margin: auto;
    background-color: #fbfbfb;
    width: 90%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: map-get($peach, opacity);
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;

    &:focus {
      outline: 2px solid map-get($peach , normal );

    }
    
    &::-webkit-textarea-placeholder {
      color: map-get($gray , light );
    }
  }
 

  .required {
    color: map-get($yellow , light );
    text-shadow: 0px 0px 5px map-get($gray , soft );
  }
  
  .aviso {
    font-size: 13px;
    color: black;
  }

  .button_enviar {
    @include size(100%,45px);
    @extend %button;
    background-color: map-get($peach , normal );
    border: map-get($peach , normal ) outset;
 }


}
