  .about-minka{
   
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(
        map-get($violet,opacity),
        map-get($violet,opacity)
      ), url(../assets/image/herramientas-de-gestion-de-recursos-humanos.png);
      background-position: center;
      background-size: cover;
  
  }

  
  .minka{
    @include padMar(50px,40px);
    @include size(30%, auto);
    background: whitesmoke;

    mix-blend-mode:screen;

    h1{
      font-weight: bold;
    }

    p{
      font-size: 22px;
    }
  }
  
  .quote{
    width: 60%;
    margin: 60px auto;

    h2{
      font-size: 40px
    };
    p{
      font-size: 20px;
    }
  }
