//NOSOTROS

.team-box {
  @include padMar(20px,20px auto 50px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-auto-flow: row;
  grid-template-areas:
     "foto tittle"
     "foto description";
  width: 80%;
  justify-items: center;
  background-color: map-get($pink , soft );
}

.foto {
  grid-area: foto;
  width: 100%;
}

.tittle {
  grid-area: tittle;
  justify-self: center;
  text-align: center;
  align-self: center;
}

.description {
  grid-area: description;
  text-align: center;
}




