.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
    &:hover{  
        color: map-get($yellow, soft );
    }
  }
  
  .mini-icon {
    padding: 0px;
    font-size: 20px;
    width: 20px;
  }
  
  .material-icons {
    padding: 10px;
    font-size: 100px;
  }
  