@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  margin: 0px;
  padding: 0px; }

main {
  margin-top: 150px;
  margin-bottom: 50px; }

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }

a:link {
  text-decoration: none; }

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center; }
  .fa:hover {
    color: #f2d6a2; }

.mini-icon {
  padding: 0px;
  font-size: 20px;
  width: 20px; }

.material-icons {
  padding: 10px;
  font-size: 100px; }

.form .button_enviar, .button_postularse {
  padding: 10px;
  margin: 20px;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px; }

header {
  width: 100%;
  height: 105px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(89, 47, 86, 0.9);
  z-index: 1000; }
  header .header__img {
    border: 15px solid white;
    border-radius: 50%;
    height: 10pc;
    margin: 0px 50px; }

.h-Peach {
  background-color: rgba(217, 117, 108, 0.9); }

.h-Pink {
  background-color: rgba(166, 104, 127, 0.9); }

.h-Yellow {
  background-color: rgba(224, 158, 120, 0.9); }

.navbar {
  align-self: center;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0px; }

.nav-bottom a {
  display: block;
  position: relative;
  padding: 20px;
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  margin-right: 30px; }

.nav-bottom ul li a::before {
  content: "";
  position: absolute;
  height: 5px;
  bottom: 5px;
  left: 0;
  background-color: white;
  visibility: visible;
  width: 0px;
  transition: all 0.3s ease-in-out; }

.nav-bottom a:hover::before,
.nav-bottom li:hover > a::before,
.nav-bottom .active > a::before {
  visibility: visible;
  width: 100%;
  text-align: center; }

.navbar-collapse {
  justify-content: flex-end; }

.nav-link:focus, .nav-link:hover {
  color: #f2d6a2; }

.navbar-nav .nav-link.active {
  color: white;
  font-weight: 600; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.container-fluid {
  height: 100%; }

.navbar-toggler {
  height: 100%;
  border: none;
  color: white; }
  .navbar-toggler:focus {
    border: none;
    box-shadow: none; }

.navbar-brand {
  z-index: 100; }

.footer a {
  --bs-text-opacity: 1;
  color: #787878; }

.img__footer {
  border-radius: 50%;
  width: 50%;
  border: 15px solid white; }

.about-minka {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: linear-gradient(rgba(89, 47, 86, 0.9), rgba(89, 47, 86, 0.9)), url(../assets/image/herramientas-de-gestion-de-recursos-humanos.png);
  background-position: center;
  background-size: cover; }

.minka {
  padding: 50px;
  margin: 40px;
  width: 30%;
  height: auto;
  background: whitesmoke;
  mix-blend-mode: screen; }
  .minka h1 {
    font-weight: bold; }
  .minka p {
    font-size: 22px; }

.quote {
  width: 60%;
  margin: 60px auto; }
  .quote h2 {
    font-size: 40px; }
  .quote p {
    font-size: 20px; }

.contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "social-media form";
  width: 70%;
  margin: auto;
  box-shadow: 0px 0px 15px 4px whitesmoke; }

.social-media {
  grid-area: social-media;
  background-color: #d9756c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .social-media a {
    --bs-text-opacity: 1;
    color: black; }
  .social-media .sm-item {
    display: block; }

.form {
  grid-area: form;
  margin: 20px;
  width: 80%;
  justify-self: center; }
  .form input {
    width: 90%;
    height: 40px;
    display: block;
    margin: auto;
    background-color: #fbfbfb;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid rgba(217, 117, 108, 0.9);
    padding-left: 10px; }
    .form input:focus-visible {
      outline: 2px solid #d9756c; }
    .form input::-webkit-input-placeholder {
      color: #787878; }
  .form textarea {
    display: block;
    margin: auto;
    background-color: #fbfbfb;
    width: 90%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(217, 117, 108, 0.9);
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px; }
    .form textarea:focus {
      outline: 2px solid #d9756c; }
  .form .required {
    color: #f2b999;
    text-shadow: 0px 0px 5px #787878; }
  .form .aviso {
    font-size: 13px;
    color: black; }
  .form .button_enviar {
    width: 100%;
    height: 45px;
    background-color: #d9756c;
    border: #d9756c outset; }

.advices {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "advice_des advices_list";
  width: 80%;
  margin: auto; }

.advice_des {
  grid-area: advice_des;
  text-align: center;
  background-color: #eda075;
  padding: 30px;
  font-size: 18px; }

.advices_list {
  grid-area: advices_list;
  padding: 30px;
  font-size: 16px; }
  .advices_list ol li {
    margin: 10px; }

.carousel {
  margin-top: -150px; }

.carousel-item {
  width: 100%;
  height: 40vh;
  background-color: #592f56; }

.team-box {
  padding: 20px;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-template-areas: "foto tittle" "foto description";
  width: 60%;
  justify-items: center;
  background-color: rgba(166, 104, 127, 0.9); }
  .team-box a {
    color: white; }

.foto {
  grid-area: foto;
  width: 100%;
  align-self: center; }

.tittle {
  grid-area: tittle;
  justify-self: center;
  text-align: center;
  align-self: center; }

.description {
  grid-area: description;
  text-align: center; }

.mvv-about {
  width: 100%;
  justify-content: center;
  background-color: #a6687f;
  background-position: center;
  background-size: cover; }

.mvv-minka {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "mision vision valores";
  margin: auto;
  padding: 40px 0px; }
  .mvv-minka div {
    background: whitesmoke;
    mix-blend-mode: screen;
    padding: 20px;
    text-align: center; }
    .mvv-minka div h1 {
      font-weight: bold; }
    .mvv-minka div p {
      font-size: 18px; }

.fade-in-bottom {
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.fade-in-bottom-f {
  animation: fade-in-bottom-f 2s backwards; }

@keyframes fade-in-bottom-f {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.services-index {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 50px; }

.services-expand {
  width: 70%;
  margin: auto; }

.service-item {
  scroll-margin-top: 150px; }

.boxes {
  display: flex;
  justify-content: center; }

.box__service {
  padding: 10px;
  margin: 15px;
  width: 25%;
  color: black;
  z-index: 0;
  overflow: hidden; }
  .box__service:hover p {
    transition: all 0.3s ease-out;
    color: white; }
  .box__service:hover h4 {
    transition: all 0.3s ease-out;
    color: white; }
  .box__service:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -32px;
    right: -32px;
    background: rgba(89, 47, 86, 0.9);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.6s ease-out; }
  .box__service:hover:before {
    transform: scale(30); }

.cv {
  padding: 20px;
  margin: 30px auto;
  font-size: 30px;
  height: 350px;
  display: flex;
  justify-self: center;
  background-color: #592f56;
  background-image: url(../assets/image/cv-image.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: end;
  background-position-y: bottom; }

.cv-text {
  text-align: left;
  font-size: 40px;
  color: whitesmoke;
  align-self: center;
  margin-right: 8%;
  font-weight: bold; }

.busquedas {
  display: grid;
  grid-template-columns: 1fr 0.2fr 3fr;
  grid-template-rows: 1fr auto 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "search_logo search_line search_title" "search_logo search_line search_description" "search_logo search_line search_button";
  width: 80%;
  margin: 30px auto;
  text-align: center;
  justify-items: center; }

.search_logo {
  grid-area: search_logo;
  align-self: center; }

.search_line {
  grid-area: search_line;
  height: 75%;
  align-self: center; }

.search_title {
  grid-area: search_title;
  align-self: center; }

.search_description {
  grid-area: search_description; }

.search_button {
  grid-area: search_button; }

.button_postularse {
  width: fit-content;
  height: 45px;
  background-color: #d9756c;
  border: 1px outset #d9756c; }

.large-box {
  border-style: none none none solid;
  border-width: 5px;
  border-color: #d9756c; }

@media screen and (max-width: 990px), (max-width: 480px) {
  .navbar {
    z-index: 0; }
    .navbar .nav-bottom a {
      text-align: right; }
  .nc-Home {
    background-color: #592f56; }
  .nc-Peach {
    background-color: #d9756c; }
  .nc-Pink {
    background-color: #a6687f; }
  .nc-Yellow {
    background-color: #eda075; }
  .container-fluid {
    padding: 0; }
  .cv {
    height: 300px;
    background-size: 100%;
    justify-content: center;
    background-position-y: 250px; }
  .cv-text {
    text-align: center;
    align-self: center;
    margin-right: 0%; }
  .minka {
    width: 80%;
    margin: 10%; }
  .services-expand {
    width: 85%; }
  .team-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr auto;
    gap: 10px 0px;
    grid-auto-flow: column;
    grid-template-areas: "foto" "tittle" "description";
    text-align: center;
    justify-items: center;
    align-items: center; }
  .mvv-minka {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas: "mision" "vision" "valores"; }
  .advices {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-template-areas: "advice_des" "advices_list"; } }

@media screen and (max-width: 480px) {
  .contact-form {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "form" "social-media";
    width: 90%; }
  .social-media {
    flex-direction: row;
    justify-content: center; }
    .social-media .visible {
      display: none; }
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .busquedas {
    padding: 20px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr auto 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "search_logo" "search_line" "search_title" "search_description" "search_button";
    width: 80%;
    text-align: center;
    border-style: none none solid none;
    border-color: #16768c74; }
  .large-box {
    border-style: none none solid none;
    width: 40%;
    align-self: center; }
  .search_line {
    justify-self: center; }
  main {
    margin-top: 180px; }
  .quote {
    width: 70%; } }

@media screen and (max-width: 990px) and (min-width: 480px) {
  .boxes {
    flex-wrap: wrap; }
  .box__service {
    width: 40%; }
  .busquedas {
    width: 90%;
    margin: 30px auto; }
  .team-box {
    width: 50%; } }

@media screen and (max-width: 576px) {
  .d-sm-block {
    display: block !important; }
  .carousel {
    margin-top: -180px; }
  .box__service {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .reverse {
    flex-direction: column-reverse; } }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.reference {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden; }
